.body {
    color: #ddd!important;
}
.dort{
    text-align: center;
}
.cevap-line {
    margin-top: 10px;
}
.add-questions.tab-content {
    padding: 10px;
    border: 1px solid #464545;
    border-top: none;
}
.list-group {
}
.list-group-item {
    position: relative;
    padding-left: 70px;
}
.removeq {
    position: absolute;
    top: 4px;
    left: 4px;
}
.step {
    display: none;
}
.smaller {
    -webkit-transition:height 1s,padding 1s;
    overflow: hidden;
    height: 0!important;
    padding: 0 19px!important;
    border: none!important;
}
.well{
    min-height: 0;
}

.musician,
.sex,
.age {
    float: left;
}

.register {
    margin: 0 auto;
    width: 350px;
    max-width: 100%;
}