.cevap-line {
    margin-top: 10px;
}
.add-questions.tab-content {
    padding: 10px;
    border: 1px solid #ddd;
    border-top: none;
}
.show-questions {
    margin-top: 20px;
}
.list-group {
}
.list-group-item {
    position: relative;
    padding-left: 70px;
}
.removeq {
    position: absolute;
    top: 4px;
    left: 4px;
}