{% extends "base.html" %}

{% block content %}
    {% for i in cevaplar %}
        <p>{{ i.sound }}</p>
        <hr/>
        {% for c in i.ans %}
            {% if c.user.musician==True %}
                <p class="musician">Musician, {{ c.user.yil }} yıldır,</p>

            {% else %}
                <p class="musician">Not Musician, </p>
            {% endif %}

            {% if c.user.sex=="0" %}
                <p class="sex">Erkek, </p>
            {% else %}
                <p class="sex">Kadın, </p>
            {% endif %}

            <p class="age"> Yaş: {{ c.user.age }} </p>
            <div class="clearfix"></div>
            {% if c.subsoru.comment %}
                <p><b>Yorum sorusu: </b>{{ c.subsoru.comment }}</p>
            {% else %}
                <p><b>Çoktan seçmeli soru: </b>{{ c.subsoru.soru }}</p>
            {% endif %}
            <p><b>Cevap: ({{ c.correct }}) </b>{{ c.cevap }}</p>
            <hr/>
        {% endfor %}
        <hr/>
    {% endfor %}
{% endblock %}
{% block js %}

{% endblock %}