{% extends "base.html" %}

{% block content %}
    <div class="col-xs-12 show-questions">
        <div class="page-header">
            <h1>Ankete hoşgeldiniz
                <small>sırayla soruyu cevapladıktan sonra geç butonuna basın.</small>
            </h1>
        </div>
        {% for s in ses %}
            <div class="show-soru">
                <div class="well step">
                    <p class="col-md-10 col-xs-12 text-warning hidden">1 dinleme hakkınız kaldı.</p>
                    <p class="col-md-10 col-xs-12 text-danger hidden">Tüm haklarınızı kullandınız devam etmek için "başlat" düğmesine basınız.</p>
                    <audio class="col-md-10 col-xs-12 player" src="/static/audio/{{ s.sound }}"
                           controls="controls"
                           style="margin-bottom: 10px;">
                        Your browser does not support the <code>audio</code> element.
                    </audio>
<span>
                        <a class="col-md-2 col-xs-12 btn btn-default btn-next pull-right" data-name="{{ loop.index }}"
                           data-id="{{ s.id }}">
                            Başlat <i class="glyphicon glyphicon-hand-right"></i>
                        </a>
                    <div class="clearfix"></div></span>

                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                {% for q in s.qs %}
                    {% if q.comment %}
                        <div class="well step"><b>{{ q.comment }}</b>

                            <textarea class="form-control cm-{{ s.id }}" name="" id="" cols="30" rows="3"
                                      style="margin: 10px 0;"></textarea>

                            <div class="">
                                <a class="btn btn-default pull-right btn-next" data-name="{{ q.id }}"
                                   data-id="c-{{ s.id }}">
                                    Geç <i class="glyphicon glyphicon-hand-right"></i>
                                </a>

                                <div class="clearfix"></div>
                            </div>
                        </div>
                    {% else %}
                        <div class="well step"><b>{{ q.soru }}</b>

                            <div class="col-xs-12">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="qm-{{ s.id }}" value="{{ q.answera }}">
                                        {{ q.answera }}
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="qm-{{ s.id }}" value="{{ q.answerb }}">
                                        {{ q.answerb }}
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="qm-{{ s.id }}" value="{{ q.answerc }}">
                                        {{ q.answerc }}
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="qm-{{ s.id }}" value="{{ q.answerd }}">
                                        {{ q.answerd }}
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="qm-{{ s.id }}" value="{{ q.answere }}">
                                        {{ q.answere }}
                                    </label>
                                </div>
                            </div>

                            <div class="">
                                <a class="btn btn-default pull-right btn-next" data-name="{{ q.id }}"
                                   data-id="m-{{ s.id }}">
                                    Geç <i class="glyphicon glyphicon-hand-right"></i>
                                </a>

                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    {% endif %}
                {% else %}
                    <em>No questions added</em>
                {% endfor %}
                <div class="clearfix"></div>

            </div>
        {% endfor %}
        <div class="well step sondiv">
            Teşekkürler
            <a class="btn btn-default pull-right btn-next">
                Tamamla <i class="glyphicon glyphicon-hand-right"></i>
            </a>

            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>

    <div class="col-xs-12 forms">
        <form id="form1" method="post" action="json.html" class="bbq">
            <div id="fieldWrapper">
                <div class="step" id="first">

                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block js %}

    <script>

        $(document).ready(function () {
            var h = $(".step").first().height() + 'px';
            $(".step").first().show().css("height", h);
            console.log(h);

            var cc = 2;

            $(".player").first().bind('ended', function () {
                // done playing
                if (cc==1){
                    $(".player").parent().find(".text-warning").removeClass("hidden");
                    cc = 0;
                }else if(cc == 0){
                    $(".player").first().parent().find(".text-warning").addClass("hidden");
                    $(".player").first().parent().find(".kalmadi").removeClass("hidden");
                    $(".player").first().addClass("hidden");
                }else{
                    cc = 1;
                }
            });

            $(".btn-next").on("click", function () {
                if ($(this).parent().hasClass("sondiv")) {
                    $.post("?sondiv=1", function () {
                        window.location.href = '/tamamlandi'
                    });
                } else {
                    var dataid = $(this).attr("data-id");
                    var dataname = $(this).attr("data-name");
                    if (dataid.substring(0, 1) == "m") {
                        var subid = 'qm-' + dataid.substring(2);
                        var val = $("[name=" + subid + "]:checked").val();
                        $.post("?multi=" + dataname + "&val=" + val + "&ses=" + dataid.substring(2), function () {
                        });
                        //console.log(dataid.substring(2))
                    } else if (dataid.substring(0, 1) == "c") {
                        var subid = 'cm-' + dataid.substring(2);
                        var val = $("." + subid).val();
                        console.log(val);
                        $.post("?comment=" + dataname + "&val=" + val + "&ses=" + dataid.substring(2), function () {
                        });
                        //console.log(dataid.substring(2))
                    }
                    else {
                        cc=2;
                        $.post("?sound=" + dataid, function () {
                        });
                    }


                    $(this).parent().parent().addClass("smaller").delay(1000).queue(function (next) {
                        $(this).remove();
                        $(".step").first().fadeIn();
                        var at = $(".step").first().height() + 30 + 'px';
                        $(".step").first().css("height", at);
                        next();
                    });
                }

            });

        });

    </script>
{% endblock %}