{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <h3>Merhaba,</h3>

        <p class="ana-p">Birden fazla sesi aynı anda dinleme eğitimi almış müzisyenlerin, müzisyen olmayanlara oranla çoğul monologları daha iyi takip edip edemeyeceklerini anlamaya çalışan bir deney yapıyorum.</p>

<p class="ana-p">Deney boyunca aynı anda konuşan insanlardan oluşan 4 ses kesiti dinleyeceksiniz ve sizden bu ses kesitleriyle ilgili sorulmuş detay sorularını cevaplamanız istenecek.</p>

<p class="ana-p">Bu deneyi yalnızca bir defa yapabilirsiniz. </p>

        <div class=" form-inline register col-xs-12 pull-right">
            <div class="form-group">
                <input type="number" class="form-control input-sm" id="age" placeholder="Yaş">
            </div>
            <select class="form-control input-sm" id="sex">
                <option value="0">Erkek</option>
                <option value="1">Kadın</option>
            </select>
            <a class="btn btn-default btn-sm" id="enter">Giriş <i class="glyphicon glyphicon-music"></i></a>

            <div id="kacyil" class="form-group hidden" style="margin-top: 5px;">
                <label for="exampleInputEmail1">Kaç yıldır müzikle uğraşıyorsunuz?</label>
                <input type="number" class="form-control input-sm" id="yil" placeholder="?" style="width: 50px;margin-left: 25px;">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="musician"> Müzisyenseniz bu kutuyu işaretleyin
                </label>
            </div>

        </div>


        <div class="clearfix"></div>
    </div>



{% endblock %}
{% block js %}
    <script>
        $(document).ready(function () {
            var checked = false;
            $("#musician").on("change", function () {
                if (checked == false) {
                    $("#kacyil").removeClass("hidden");
                    checked = true;
                    console.log("on");
                } else {
                    $("#kacyil").addClass("hidden");
                    checked = false;
                    console.log("off");
                }
            })

            $("#enter").on("click", function () {
                var yil = 0;
                if($("#yil").val() != ""){
                    yil = $("#yil").val();
                };
                console.log("annen");
                $.post("?age=" + $("#age").val() + "&sex=" + $("#sex").val() + "&musician=" + $("#musician").is(':checked')+"&yil="+yil, function () {
                    //console.log("?age="+$("#age").val()+"&sex="+$("#sex").val()+"&musician="+$("#musician").is(':checked'));
                    window.location.replace("/question");
                })
            })
        })

    </script>
{% endblock %}