{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <h1>Hello, world!</h1>

        <p>This is a template for a simple marketing or informational website. It includes a large callout called a
            jumbotron and three supporting pieces of content. Use it as a starting point to create something more
            unique.</p>

        <div class=" form-inline register">
        <div class="form-group">
            <input type="number" class="form-control input-sm" id="age" placeholder="Yaş">
        </div>
        <select class="form-control input-sm" id="sex">
            <option value="0">Erkek</option>
            <option value="1">Kadın</option>
        </select>
        <a class="btn btn-default btn-sm" id="enter">Giriş <i class="glyphicon glyphicon-music"></i></a>

        <div class="checkbox">
            <label>
                <input type="checkbox" id="musician"> Müzisyenseniz bu kutuyu işaretleyin
            </label>
        </div>
    </div>
    </div>



{% endblock %}
{% block js %}
    <script>
        $(document).ready(function () {
            $("#enter").on("click", function () {
                console.log("annen");
                $.post("?age=" + $("#age").val() + "&sex=" + $("#sex").val() + "&musician=" + $("#musician").is(':checked'), function () {
                    //console.log("?age="+$("#age").val()+"&sex="+$("#sex").val()+"&musician="+$("#musician").is(':checked'));
                    window.location.replace("/question");
                })
            })
        })

    </script>
{% endblock %}